

header {
    width: 100%;
}

header .nav-wrapper{
    display: flex;
    justify-content : space-between;
    align-items:center;
    padding: 21px 140px;
   
}

.nav-wrapper .logo-img a img {
    width: 169px;
    }

.nav-wrapper .menu{
    display: flex;
    gap: 30px;
    
}
.nav-wrapper .menu a{
    font-size: 10px;
    font: weight 300px;
    color: white;
    text-decoration: none;
}

body{
    background-image:url(./images/headphones_hero_1.jpg) cover no-repeat;

}
