

header {
    width: 100%;
}

header .nav-wrapper{
    display: flex;
    justify-content : space-between;
    align-items:center;
    padding:21px 140px; 
}

.nav-wrapper .logo-img a img {
    width: 169px;
    }

.nav-wrapper .menu{
    display: flex;
    gap: 30px;
    
}
.nav-wrapper .menu a{
    font-size:10px;
    font-weight: 300px;
    color: white;
    text-decoration: none;
}
.menu a:hover {
    color:#FF6565 ;
}

body {
    background-image: url(./images/headphones_hero_1.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    font-family: 'Source Sans Pro';


}

/*--main--*/
/*---title section---*/

main .title-section .title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: auto;
    align-items: center;
}
.title-container .title {
    color: #FFF;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    margin: auto;

}
.title-container .subtitle {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 3rem;
    
}

.title-container button {
    background-color: #FF6565;
    color:  #FFF;
    width: 162px;
    height: 44px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    font-size:  14px;
    font-weight: 700;
    text-align: center;
    margin: 100px; 
}

.title-container p {
    width: 637px;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    justify-content: center;
    padding-top:80px;
    
    }
    /* what we do section*/
    .what-we-do-section{
       position: relative;
       top: 200px;
       right: 0;
       left: 0;
       width: 100%;
       
      
    }
    .what-we-do-section .what-we-do-container {
        display: flex;
        flex-direction: column;
        gap: 48px;
        align-items: center;
        text-align: center;
      }
    .what-we-do-section .what-we-do-container h1{
        color: #071629;
        text-align: center;
        font-family: 'SourceSansPro';
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        margin-top: 30px;

    }
    .what-we-do-container p {
        color: #071629;
        text-align: center;    
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        padding: 0 20%;
    }


    .what-we-do-container .icons-continer {
        display: flex;
        flex-direction: row;
        gap: 8px;
        text-align: center;
        align-items: center;
        padding-bottom: 5%;
       
    
    }
    .icons-continer .w-icon {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .w-icon span {
        color:#FF6565;
        font-size: 94px;
    }

    /*---our results section---*/
    .our-results-section {
        background-image: url(./images/headphones_hero_2.jpg);
        position: relative;
        top: 200px;
        right: 0;
        left: 0;
        width: 100%;
    }