body {
    background-image: url(./CSS-Advanced/Object.png);
    background-repeat: no-repeat;
    background-position: top center;
    padding:0;
    margin: 0;
    font-family: 'Source Sans Pro';
  }
  .header-container {
    display: flex;
    flex-direction: row;
    margin: 2rem 6rem;
  }
  .header-container .navbar  {
    display: flex;
    justify-content: center;
    margin-left: 60%;
    gap: 50px;
  }
  .header-container .navbar a{
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0px;
    text-align: left;
    color: #FFFFFF; 
  }
  /*---main---*/
  
  .hero-section .title-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    z-index: 3;
   
  }
  .title-container h1 {
    font-size: 120px;
    font-weight: 700;
    line-height: 151px;
    letter-spacing: 0px;
    color: #FFFFFF;
    margin-top: 16vh;
  }

  .title-container p {
    word-spacing: 3.5rem; 
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #FFFFFF;
    text-align: center;
    margin-top: -15vh;
  }
  .title-container button {
    width: 162px;
    heighT: 44px;
    top: 419px;
    left: 639px;
    box-shadow: 0px 2px 20px 0px #00000080;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    background-color: #C271FF;
    color:#FFFFFF;
    font-size: 11px;
    margin-top: 2rem;
  }


  .teammember-section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 15vh;
    
  }
  .teammember-section h2{
    color: #FFFFFF;
    font-size: 32px;
    font-weight: 300;
    line-height: 40px;
    text-align: center;
  }
  .teammember-section h2 span{
    color:#C271FF;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
  }
   .teammember-section .teammember-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
   }
   .teammember-container .teammember {
    padding: 4rem 1rem;
   }
   .teammember img{
    border-radius: 100%;
    border: none;
    width: 9rem;
   }
   .teammember h3 {
    font-size: 18px;
    font-weight: 900;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 0rem;
   }

   .teammember p {
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    margin-top:-1rem;
   }

    .Quote-section .Quote-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C271FF;
    padding: 6rem 7rem;
    margin-top: -3rem;
    gap: 1rem;
   }

   .Quote-section .Quote-container img {
    border: none;
    width: 10rem;
    border-radius: 100%;
    
}

    .Quote-container .author {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      color:#FFFFFF;
      padding: 0%;
      margin: 0%;
      gap:1rem;
      margin-top: -2rem;
    
      font-size: 22px;
      font-weight: 400;
      line-height: 34px;
      
      text-align: left;

      
    }
 
    #PN {
      margin: -1rem 2.3rem;
      font-size: 22px;
      font-weight: 700;
      line-height: 34px;
      letter-spacing: 0px;
      text-align: left;

    }
    #WP {
      margin: -0rem 2.3rem;
      font-size: 22px;
      font-style: italic;
      font-weight: 400;
      line-height: 34px;
      letter-spacing: 0px;
      text-align: left;

    }

/* ==-== VIDEO SECTION ==-== */
.Video-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:5rem;
  padding: 3rem 10rem;
}
.Video-section h1 {
  color: #071629;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.Video-section h1 span {
  color: #C271FF;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/*---video----*/

.Video-section .Videos-container{
  display: flex;
  justify-content: space-evenly;
  gap: 1.65rem;
  text-align: left;
  margin-top: -20px; 
}
.Video-container .Video {
  position: relative;
  width: 15rem;
  height: 9rem;
  padding-bottom: 0.8rem;
}
.Video .Thumbnail {
  width: 100%;
  height: 100%;
}
.Video .Play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 4rem;
}

.Video-container .Video-Author {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.Video-container .Video-Author img{
  width: 30px;
  height: 30px;
  top: 261px;
  left: 13px;
  
}
.Video-container .Video-Author h3 {
margin-top: 2px;
left: 56px;
color: #C271FF;
font-family: 'Source Sans Pro';
font-size: 14px;
font-weight: 600;
line-height: 27px;
text-align: left;
}

.Video-container h2 {
  font-family: 'Source Sans Pro';
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
}
.Video-container p {
  font-family: 'Source Sans Pro';
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0px;
text-align: left;
color:#07162980;
;

}

.Video-container .Rating-container{
  display: flex;
  flex-direction: row;
 
}
.Rating-container p {
  font-family: 'Source Sans Pro';
  font-size: 14px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0px;
  text-align: right;
  color: #C271FF;
  margin: 0rem 3rem;

}
.Rating-container .Rating {
  width: 107px;
height: 15px;
top: 305px;
left: 13px;

}

/*---free membership---*/
.membership-section {
  background-color: #071629;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 3.8rem;

}
.membership-section h1 {
  font-family: 'Source Sans Pro';
  font-size: 32px;
  font-weight: 300;
  line-height: 40px;
  letter-spacing: 0px;
  text-align: center;
  color: #FFFFFF;
}
.membership-section span {
  font-family: 'Source Sans Pro';
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0px;
  text-align: center;
  color: #C271FF;
}

.membership-container {
  display: flex;
  flex-direction: row;
}
.membership-container .Offer{
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
}
.membership-container .Offer h2{
  font-family: 'Source Sans Pro';
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: center;
  color: #FFFFFF;
  }
  .membership-container .Offer p{
    font-family: 'Source Sans Pro';
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #FFFFFF;
    margin: 0rem 3rem;
  }
  .membership-container .Offer img {
    width: 43.67px;
    height: 35.35px;
    top: 0.03px;
    left: 106.71px;
  }

  .membership-btn {
    width: 162px;
    height: 44px;
    top: 406px;
    left: 639px;
    background-color: #C271FF;
    color: #FFFFFF;
    box-shadow: 0px 2px 20px 0px #00000080;
    padding: 0.9rem;
    border: none;
    border-radius: 10rem;
    width: 11rem;
    cursor: pointer;
    margin-top: 5.2rem;

  }

  /*---FAQ---*/

  .FAQ-section {
    padding: 1rem 11rem;
  
  }
  .FAQ-section h1 {
    font-family: 'Source Sans Pro';
    font-size: 60px;
    font-weight: 300;
    line-height: 75px;
    letter-spacing: 0px;
    text-align: center;
  }
.FAQ-section .FAQ-container .row-block {
  display: flex;
  flex-direction: row;
  gap: 150px;
}
.row-block .item-block h2 {
  font-family: 'Source Sans Pro';
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
}

.item-block p {
  font-family: 'Source Sans Pro';
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #07162980;
}
.item-block {
  margin: 1rem 2rem;
}

/*---Footer---*/
.footer-container {
  background: #071629;
  padding: 5rem 0rem;
}
.footer-container .logo {
  display: flex;
  flex-direction: row;
}
.logo img {
  width: 169px;
  height: 30px;
  padding: 0.02px, 0px, 0.52px, 0.59px;
}
.footer-container .icons {
 
 gap: 50px;
}
.footer-container .icons a svg {
  width: 30px;
  height: 30px;
  top: 90px;
  left: 1120px;
}