body {
    background-image: url(./CSS-Advanced/Object.png);
    background-repeat: no-repeat;
    background-position: top center;
    padding:0;
    margin: 0;
    font-family: 'Source Sans Pro';
  }
  .header-container {
    display: flex;
    flex-direction: row;
    margin: 2rem 6rem;
  }
  .header-container .navbar  {
    display: flex;
    justify-content: center;
    margin-left: 60%;
    gap: 50px;
  }
  .header-container .navbar a{
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0px;
    text-align: left;
    color: #FFFFFF; 
  }
  /*---main---*/
  
  
    
  
  .hero-section .title-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    z-index: 3;
   
  }
  .title-container h1 {
    font-size: 120px;
    font-weight: 700;
    line-height: 151px;
    letter-spacing: 0px;
    color: #FFFFFF;
    margin-top: 16vh;
  }

  .title-container p {
    word-spacing: 3.5rem; 
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #FFFFFF;
    text-align: center;
    margin-top: -15vh;
  }
  .title-container button {
    width: 162px;
    heighT: 44px;
    top: 419px;
    left: 639px;
    box-shadow: 0px 2px 20px 0px #00000080;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    background-color: #C271FF;
    color:#FFFFFF;
    font-size: 11px;
    margin-top: 2rem;
  }


  .teammember-section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 15vh;
    
  }
  .teammember-section h2{
    color: #FFFFFF;
    font-size: 32px;
    font-weight: 300;
    line-height: 40px;
    text-align: center;
  }
  h2 span{
    color:#C271FF;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
  }
   .teammember-section .teammember-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
   }
   .teammember-container .teammember {
    padding: 4rem 1rem;
   }
   .teammember img{
    border-radius: 100%;
    border: none;
    width: 9rem;
   }
   .teammember h3 {
    font-size: 18px;
    font-weight: 900;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 0rem;
   }

   .teammember p {
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    margin-top:-1rem;

   }

  
   

   
   .Quote-section .Quote-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C271FF;
    padding: 7rem 5rem;
    margin-top: -4rem;
   }
   .Quote-section .Quote-container img {
    border: none;
    width: 10rem;
    border-radius: 100%;
}

.Quote-container .author {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  color:#FFFFFF;
 
}

/* ==-== VIDEO SECTION ==-== */


